<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>TheBirthProject | Home</title>
      <link rel="stylesheet" href="/styles/index.css">
      <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
   </head>
   <body data-theme="lofi">
      <div class="navbar bg-base-100">
         <div class="navbar-start">
            <div class="dropdown">
               <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                     <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h7" />
                  </svg>
               </div>
               <ul
                  tabindex="0"
                  class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                  <li><a href="#">Homepage</a></li>
                  <li><a href="https://itsnotalexy.github.io">Portfolio</a></li>
                  <li><a href="#about">About</a></li>
               </ul>
            </div>
         </div>
         <div class="navbar-center">
            <a class="btn btn-ghost text-xl">The Birth Project</a>
         </div>
         <div class="navbar-end">
            <button class="btn btn-ghost btn-circle"></button>
         </div>
      </div>
      <div class="hero bg-base-200 min-h-screen">
         <div class="hero-content text-center">
            <div class="max-w-md">
               <h1 class="text-5xl font-bold title-container">Hello there</h1>
               <p class="py-6">
                  Welcome to The Birth Project, a platform that gives you information about your life
                  based on your birth date.
               </p>
               <button class="btn btn-primary"><a href="/birth">Get Started</a></button>
            </div>
         </div>
      </div>
      <div class="hero bg-base-200 small-h-screen" id="about">
         <div class="hero-content text-center">
            <div class="max-w-md">
               <h1 class="text-5xl font-bold title-container">About Us</h1>
               <p class="py-7">
                  The Birth Project is a platform that gives you information about your life based on your birth date.
                  Started as a side project to improve the owner's web development skills, The Birth Project has grown.
                  The web app allows you to input your birth date and find out all sorts of information such as your zodiac sign, birthstone, and more.
               </p>
            </div>
         </div>
      </div>
      <footer class="footer footer-center bg-primary text-primary-content p-10">
         <aside>
            <p class="font-bold">
               AlexyDev
               <br />
               Providing & Creating since 2023
            </p>
            <p>Copyright © 2024 - MIT License</p>
         </aside>
      </footer>
   </body>
</html>