@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --font-family: 'Source Code Pro', monospace;
}

body {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

.title-container {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    background: #000;
    padding: 0.5rem 1rem;
    margin: 0;
    overflow: hidden;
}